# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

django-backend/**/__pycache__/
django-backend/**/*.py[cod]
django-backend/**/*$py.class
django-backend/**/*.so
django-backend/**/.Python
django-backend/**/build/
django-backend/**/develop-eggs/
django-backend/**/dist/
django-backend/**/downloads/
django-backend/**/eggs/
django-backend/**/.eggs/
django-backend/**/lib/
django-backend/**/lib64/
django-backend/**/parts/
django-backend/**/sdist/
django-backend/**/var/
django-backend/**/wheels/
django-backend/**/share/python-wheels/
django-backend/**/*.egg-info/
django-backend/**/.installed.cfg
django-backend/**/*.egg
django-backend/**/MANIFEST
django-backend/**/*.manifest
django-backend/**/*.spec
django-backend/**/pip-log.txt
django-backend/**/pip-delete-this-directory.txt
django-backend/**/htmlcov/
django-backend/**/.tox/
django-backend/**/.nox/
django-backend/**/.coverage
django-backend/**/.coverage.*
django-backend/**/.cache
django-backend/**/nosetests.xml
django-backend/**/coverage.xml
django-backend/**/*.cover
django-backend/**/*.py,cover
django-backend/**/.hypothesis/
django-backend/**/.pytest_cache/
django-backend/**/cover/
django-backend/**/*.mo
django-backend/**/*.pot
django-backend/**/*.log
django-backend/**/local_settings.py
django-backend/**/db.sqlite3
django-backend/**/db.sqlite3-journal
django-backend/**/instance/
django-backend/**/.webassets-cache
django-backend/**/.scrapy
django-backend/**/docs/_build/
django-backend/**/.pybuilder/
django-backend/**/target/
django-backend/**/.ipynb_checkpoints
django-backend/**/profile_default/
django-backend/**/ipython_config.py
django-backend/**/.pdm.toml
django-backend/**/__pypackages__/
django-backend/**/celerybeat-schedule
django-backend/**/celerybeat.pid
django-backend/**/*.sage.py
django-backend/**/.env
django-backend/**/.venv
django-backend/**/env/
django-backend/**/venv/
django-backend/**/ENV/
django-backend/**/env.bak/
django-backend/**/venv.bak/
django-backend/**/.spyderproject
django-backend/**/.spyproject
django-backend/**/.ropeproject
django-backend/**//site
django-backend/**/.mypy_cache/
django-backend/**/.dmypy.json
django-backend/**/dmypy.json
django-backend/**/.pyre/
django-backend/**/.pytype/
django-backend/**/cython_debug/
django-backend/**/poetry.toml
django-backend/**/.ruff_cache/
django-backend/**/pyrightconfig.json

